@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
:root{
    --fontsize: 15px;
    --primayRed: hsl(0, 78%, 62%);
    --primaryCyan: hsl(180, 62%, 55%);
    --primaryOrange: hsl(34, 97%, 64%);
    --primaryBlue: hsl(212, 86%, 64%);
    --NeutralVeryDarkBlue: hsl(234, 12%, 34%);
    --NeutralGrayishBlue: hsl(229, 6%, 66%);
    --NeutralVeryLightGray: hsl(0, 0%, 98%);
}
*{
    margin: 0;
    font-family: 'Poppins';
    font-size: var(--fontsize);
}
body{
    background-color: var(--NeutralVeryLightGray);
    padding: 1.3em;
    display: flex;
    
    height: 100dvh;
    flex-direction: column;
    h1, b{
        font-size: 30px;
    }
    h1{
        font-weight: normal;
    }
    p{
        color: var(--NeutralGrayishBlue);
    }
    h1,p{
        text-align: center;
    }
}

main{
    padding: 1rem;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit ,minmax(200px,1fr));
    grid-auto-flow: dense;
    
}


.feature-container{
    border-radius: 10px;
    /* max-width: 30rem; */
    /* width: 80%; */
    padding: 2rem;
    margin: 20px;
    box-shadow: 0 0 20px 0px var(--NeutralGrayishBlue);
    text-align: end;
    h2{
        font-size: 25px
    }
    h2,p{
        text-align: start;
    }
}

/* @media (max-width: 480px) {
    main{
        display: grid;
    justify-items: center;
        grid-template-columns: repeat(auto-fit ,minmax(200px,1fr)) ;
    }
} */