@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
:root{
    --fontsize: 15px;
    --primayRed: hsl(0, 78%, 62%);
    --primaryCyan: hsl(180, 62%, 55%);
    --primaryOrange: hsl(34, 97%, 64%);
    --primaryBlue: hsl(212, 86%, 64%);
    --NeutralVeryDarkBlue: hsl(234, 12%, 34%);
    --NeutralGrayishBlue: hsl(229, 6%, 66%);
    --NeutralVeryLightGray: hsl(0, 0%, 98%);
}
body{
    background-color: var(--NeutralGrayishBlue);
}